<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tot.tz.dao.UserDao">
	<select id="getUserByIp" parameterType="String"
		resultType="com.tot.tz.entity.User">
		SELECT * FROM t_user WHERE u_ip=#{u_ip}
	</select>
</mapper>
